#INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/merged_user.ygo.GDJ.20230207.Job294_Job295.data18_hi.periodAllYear.physics_PCandCC.DAOD_HION8.p4404_testPbPbPC18_HION8.root.PreProcNtuple/20230220/ntuplePreProc_PbPbCCandPCMix_20230220.root

INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20220316.Job287to288.data18_hi.periodAllYear.physics_CCandPC.PreProcNtuple/20220802/ntuplePreProc_PbPbCCandPCMix_20220802.root
OUTFILENAME: basicMixPerCentWeights_Unbiased.txt