INOLDFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/Jun21/ntuplePreProc_PPData_R4_PtMin36_IncDPhipiOver2_MultiDPhi7piOver8_DR0p8_HIST_20210621.root
INNEWFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/Jun28/ntuplePreProc_PPData_R4_PtMin36_IncDPhipiOver2_MultiDPhi7piOver8_DR0p8_HIST_20210628.root

PRECISION: 0.01

#STRINGTOSUBOUT: RAW
#STRINGTOSUBIN: MIXMODE0_RAW