INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200514.Job58to59.data18_hi.CCandPC.PreProcNtuple/20200518/ntuplePreProc_PbPbCCandPCMix_20200518.root
OUTFILENAME: signalHIST_R4.root

#NEVT: -1 #if < 0, will do all
#NEVT: 10000000
#COUTINTERVAL: 20

JETR: 4

#NOTE - SINCE THIS IS MIXED EVENT THESE FREQ WILL BE INDEPENDENT OF PHOTON PT
NJETPTBINS: 40 
JETPTBINSLOW: 20
JETPTBINSHIGH: 60

JETETABINSLOW: 0.0
JETETABINSHIGH: 2.8
JETETABINSDOABS: 1