INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200514.Job58to59.data18_hi.CCandPC.PreProcNtuple/20200518/ntuplePreProc_PbPbCCandPCMix_20200518.root
INGAMMAFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200421.Job47.data18_hi.NtuplePreProc/20200513/ntuplePreProc_PbPbData_20200513.root
OUTFILENAME: mbHIST_R4.root

#NEVT: -1 #if < 0, will do all
#NEVT: 10000000
#COUTINTERVAL: 20

NCENTBINS: 80
CENTBINSLOW: 0
CENTBINSHIGH: 80

NFCALETBINS: 200
FCALETBINSLOW: 60.0
FCALETBINSHIGH: 10000.0
FCALETBINSDOLOG: 1
FCALETBINSDOLIN: 0

JETR: 4

#NOTE - SINCE THIS IS MIXED EVENT THESE FREQ WILL BE INDEPENDENT OF PHOTON PT
NJETPTBINS: 50 
JETPTBINSLOW: 20
JETPTBINSHIGH: 120

JETETABINSLOW: 0.0
JETETABINSHIGH: 2.8
JETETABINSDOABS: 1