INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200513.Job52.data17_5TeV.PreProcNtuple/20200514/ntuplePreProc_PPData_20200514.root
OUTFILENAME: signalHIST_RINRVAL.root

#NEVT: -1 #if < 0, will do all
#NEVT: 10000
#COUTINTERVAL: 20

JETR: INRVAL

#NOTE - SINCE THIS IS MIXED EVENT THESE FREQ WILL BE INDEPENDENT OF PHOTON PT
NGAMMAPTBINS: 50 
GAMMAPTBINSLOW: 50
GAMMAPTBINSHIGH: 100

GAMMAPTMAX: 250

GAMMAETABINSLOW: 0
GAMMAETABINSHIGH: 2.37
GAMMAETABINSDOABS: 1

NJETPTBINS: 50
JETPTBINSLOW: 20
JETPTBINSHIGH: 120

JETETABINSLOW: 0.0
JETETABINSHIGH: 2.8
JETETABINSDOABS: 1

NTWOJETPTBINS: 50
TWOJETPTBINSLOW: 20
TWOJETPTBINSHIGH: 70

DPHICUT.0: 0.0
#pi/2
DPHICUT.1: 1.5707963
#3pi/4
DPHICUT.2: 2.3561945
#5pi/6
DPHICUT.3: 2.6179939
#7p/8
DPHICUT.4: 2.7488936

DPHICUTLABEL.0: No #Delta#phi_{#gamma,Jet} Cut
DPHICUTLABEL.1: #Delta#phi_{#gamma,Jet} > #pi/2
DPHICUTLABEL.2: #Delta#phi_{#gamma,Jet} > 3#pi/4
DPHICUTLABEL.3: #Delta#phi_{#gamma,Jet} > 5#pi/6
DPHICUTLABEL.4: #Delta#phi_{#gamma,Jet} > 7#pi/8
