INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200513.Job52.data17_5TeV.PreProcNtuple/20200514/ntuplePreProc_PPData_20200514.root
OUTFILENAME: signalHIST_RINRVAL.root

#NEVT: -1 #if < 0, will do all
#NEVT: 10000000
#COUTINTERVAL: 20

JETR: INRVAL

#NOTE - SINCE THIS IS MIXED EVENT THESE FREQ WILL BE INDEPENDENT OF PHOTON PT
NGAMMAPTBINS: 40 
GAMMAPTBINSLOW: 20
GAMMAPTBINSHIGH: 60

NJETPTBINS: 40 
JETPTBINSLOW: 20
JETPTBINSHIGH: 60

JETETABINSLOW: 0.0
JETETABINSHIGH: 2.8
JETETABINSDOABS: 1

DPHICUT.0: 0.0
DPHICUT.1: TMath::Pi()/2.0
DPHICUT.2: 3.0*TMath::Pi()/4.0
DPHICUT.3: 5.0*TMath::Pi()/6.0
DPHICUT.4: 7.0*TMath::Pi()/8.0

DPHICUTLABEL.0: No #Delta#phi Cut
DPHICUTLABEL.1: #Delta#phi > #pi/2
DPHICUTLABEL.2: #Delta#phi > 3#pi/4
DPHICUTLABEL.3: #Delta#phi > 5#pi/6
DPHICUTLABEL.4: #Delta#phi > 7#pi/8
