INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200514.Job58to59.data18_hi.CCandPC.PreProcNtuple/20200518/ntuplePreProc_PbPbCCandPCMix_20200518.root
OUTFILENAME: mbHIST_R2.root

#NEVT: -1 #if < 0, will do all
#NEVT: 10000000
#COUTINTERVAL: 20

NCENTBINS: 80
CENTBINSLOW: 0
CENTBINSHIGH: 80

NFCALETBINS: 200
FCALETBINSLOW: 60.0
FCALETBINSHIGH: 10000.0
FCALETBINSDOLOG: 1
FCALETBINSDOLIN: 0

JETR: 2

#NOTE - SINCE THIS IS MIXED EVENT THESE FREQ WILL BE INDEPENDENT OF PHOTON PT
NJETPTBINS: 40 
JETPTBINSLOW: 20
JETPTBINSHIGH: 60