INUNFOLDFILENAME: test.root

NITERPLOTCAP: 7

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: PYTHIA #sqrt{s_{NN}}=5.02 TeV

XJMAX.GLOBAL: 3000
XJMIN.GLOBAL: 0

XJRATMAX.GLOBAL: 1.5
XJRATMIN.GLOBAL: 0.5

XJLEGX.GLOBAL.0: 0.18
XJLEGY.GLOBAL.0: 0.96
XJLEGN.GLOBAL.0: 5

XJLEGX.GLOBAL.1: 0.42
XJLEGY.GLOBAL.1: 0.96
XJLEGN.GLOBAL.1: 3

XJLABELX.GLOBAL: 0.975
XJLABELY.GLOBAL: 0.8
XJLABELALIGNRIGHT.GLOBAL: 1

DIAGLEGX.GLOBAL.0: 0.18
DIAGLEGY.GLOBAL.0: 0.94

DIAGLABELX.GLOBAL: 0.975
DIAGLABELY.GLOBAL: 0.7
DIAGLABELALIGNRIGHT.GLOBAL: 1

XJMAX.0: 1700
XJMIN.0: 0

XJMAX.1: 1100
XJMIN.1: 0

XJMAX.2: 600
XJMIN.2: 0

XJMAX.3: 400
XJMIN.3: 0

XJMAX.4: 190
XJMIN.4: 0

XJMAX.5: 90
XJMIN.5: 0

XJMAX.6: 50
XJMIN.6: 0

XJMAX.7: 20
XJMIN.7: 0

XJMAX.8: 8
XJMIN.8: 0

XJMAX.9: 3
XJMIN.9: 0