INFILENAME: output/20200813/toy_10kToy2_20200813.root

GLOBALTAG: 10kToy2

GLOBALLABEL.0: #bf{#it{CUBHIG Internal}}
GLOBALLABEL.1: Toy Mixed Event Tests
GLOBALLABEL.2: #Delta#phi_{#gamma,Jet} > #pi/2

MIXEDYMIN: 0.0
MIXEDYMAX: 60
#MIXEDYMAX: 3000000
MIXEDYRATMAX: 1.14
MIXEDYRATMIN: 0.86
MIXEDLABELX: 0.44
MIXEDLABELY: 0.88
MIXEDLEGX: 0.65
MIXEDLEGY: 0.74
