INFILENAME: /home/cfmcginn/CUBHIG/Samples/signalSamples_202000811/signalHIST_R2_20200811.root

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: p+p, #sqrt{s_{NN}} = 5.02 TeV
GLOBALLABEL.2: #gamma-triggered

SIGNALJTPTYMIN: 0.0
SIGNALJTPTYMAX: 0.12
SIGNALJTPTLABELX: 0.29
SIGNALJTPTLABELY: 0.93
SIGNALJTPTLEGX: 0.68
SIGNALJTPTLEGY: 0.95

SIGNALVECTJTPTYMIN: 0.0
SIGNALVECTJTPTYMAX: 0.05
SIGNALVECTJTPTLABELX: 0.29
SIGNALVECTJTPTLABELY: 0.93
SIGNALVECTJTPTLEGX: 0.68
SIGNALVECTJTPTLEGY: 0.95
