INFILENAME: /home/cfmcginn/CUBHIG/Samples/mbSamples_20200810/mbHIST_R4_20200810.root

SIGNALFILENAME: /home/cfmcginn/CUBHIG/Samples/signalSamples_202000810/signalHIST_R4_20200810.root


GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: #sqrt{s_{NN}} = 5.02 TeV
GLOBALLABEL.2: Mixed Event (CC+PC)

CENTCOMBOLOW.0: 0
CENTCOMBOHIGH.0: 10
CENTCOMBOLOW.1: 10
CENTCOMBOHIGH.1: 20
CENTCOMBOLOW.2: 20
CENTCOMBOHIGH.2: 30
CENTCOMBOLOW.3: 30
CENTCOMBOHIGH.3: 40
CENTCOMBOLOW.4: 40
CENTCOMBOHIGH.4: 50
CENTCOMBOLOW.5: 50
CENTCOMBOHIGH.5: 60
CENTCOMBOLOW.6: 60
CENTCOMBOHIGH.6: 70
CENTCOMBOLOW.7: 70
CENTCOMBOHIGH.7: 80

MIXEDJTPTYMIN: 0.0
MIXEDJTPTYMAX: 0.6
MIXEDJTPTLABELX: 0.44
MIXEDJTPTLABELY: 0.93

MIXEDJTPTLEGX: 0.71
MIXEDJTPTLEGY: 0.81

PERCENTYMIN: 20.0
PERCENTYMAX: 60.0
PERCENTLABELX: 0.34
PERCENTLABELY: 0.93

PERCENTLEGX: 0.71
PERCENTLEGY: 0.95

SOBYDOLOG: 1
SOBYMIN: 0.02
SOBYMAX: 200.0
SOBLABELX: 0.49
SOBLABELY: 0.6
SOBLEGX: 0.71
SOBLEGY: 0.50
