INFILENAME: /home/cfmcginn/CUBHIG/Samples/signalSamples_202000807/signalHIST_R2_20200807.root

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: p+p, #sqrt{s_{NN}} = 5.02 TeV
GLOBALLABEL.2: #gamma-triggered

SIGNALJTPTYMIN: 0.0
SIGNALJTPTYMAX: 2.2
SIGNALJTPTLABELX: 0.44
SIGNALJTPTLABELY: 0.93
SIGNALJTPTLEGX: 0.71
SIGNALJTPTLEGY: 0.81
