INFILENAME: output/20200813/toy_20200813.root

GLOBALTAG: BigToy

GLOBALLABEL.0: #bf{#it{CUBHIG Internal}}
GLOBALLABEL.1: Toy Mixed Event Tests
GLOBALLABEL.2: #Delta#phi_{#gamma,Jet} > #pi/2

MIXEDYMIN: 0.0
MIXEDYMAX: 60
#MIXEDYMAX: 3000000
MIXEDYRATMAX: 1.04
MIXEDYRATMIN: 0.96
MIXEDLABELX: 0.44
MIXEDLABELY: 0.88
MIXEDLEGX: 0.65
MIXEDLEGY: 0.74

SPECYMIN: 0.001
SPECYMAX: 2
SPECYDOLOG: 1
SPECYRATMAX: 10000
SPECYRATMIN: 0.01
SPECYRATDOLOG: 1
SPECLABELX: 0.44
SPECLABELY: 0.88
SPECLEGX: 0.66
SPECLEGY: 0.74
SPECBOX.0: 0.11,0.34,0.17,0.38
SPECBOX.1: 0.11,0.332,0.153,0.38