INFILENAME: /home/cfmcginn/CUBHIG/Samples/mbSamples_20200805/mbHIST_R2_20200805.root

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: #sqrt{s_{NN}} = 5.02 TeV
GLOBALLABEL.2: Mixed Event (CC+PC)

MIXEDJTPTYMIN: 0.0
MIXEDJTPTYMAX: 0.2
MIXEDJTPTLABELX: 0.44
MIXEDJTPTLABELY: 0.93

MIXEDJTPTLEGX: 0.71
MIXEDJTPTLEGY: 0.81