MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20220316.Job286.data18_hi.periodAllYear.physics_HardProbes_testPbPbHP18.root/
OUTFILENAME: ntuplePreProc_PbPbData.root

OUTDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20220316.Job286.data18_hi.periodAllYear.physics_HardProbes.PreProcNtuple/
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt

ISPP: 0
ISMC: 0
ISMIX: 0

NDIVPERMSG: 100

KEEPTRUTH: 0
DOMINGAMMAPT: 1
MINGAMMAPT: 50.0

KEEPJETCONSTITUENTS: 0

#Not actually relevant in data but just listing the matched from MC file for running the exe 
DONEWR2JETTRUTHMATCH: 1
#This is 3/4 value of the R
DELTARMAXR2: 0.15
DOPTSORTEDMATCHR2: 1

DONEWR4JETTRUTHMATCH: 1
#This is 3/4 value of the R
DELTARMAXR4: 0.3
DOPTSORTEDMATCHR4: 1
