MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20201209.Job173.data17_5TeV.periodM.physics_Main_testPP17.root/
OUTFILENAME: ntuplePreProc_PPData.root
OUTDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20201209.Job173.PreProcNtuple
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 1
ISMC: 0
ISMIX: 0
