MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200513.Job53to57.mc16_5TeV.Pythia8EvtGen_gammajetDPMERGED_testPYTHIA17_PthatMERGED.root/
OUTDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200513.Job53to57.PreProcNtuple
OUTFILENAME: ntuplePreProc_PPMC.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 1
ISMC: 1
ISMIX: 0
