MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/mcOverlaySingleFileTest_20200901
OUTDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/mcOverlaySingleFileTest_20200901_PreProc
OUTFILENAME: ntuplePreProc_PbPbMC_TEST.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 0
ISMC: 1
ISMIX: 0
