MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200421.Job48to50.mc16_5TeV.Pythia8EvtGenOverlay_gammajetDPMERGED_testPYTHIAOverlay18_PthatMERGED.root
OUTDIRNAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200421.Job48to50.PreProcNtuple
OUTFILENAME: ntuplePreProc_PbPbMC.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 0
ISMC: 1
ISMIX: 0
