#OLD SUPERSEDED
#INFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb23/atlasLHCMed.Cent10to30.Multijet.Condor.root
INFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar11/atlasLHCMed.Cent10to30.Multijet_v2IsoFix_20240228.Condor.root
OUTFILENAME: atlasLHCMed_DRJJ_Cent10to30_MCAna.root
#INUNFOLDFILENAME: output/20230302/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20230302.root
#Superseded once the iso issue was found
#INUNFOLDFILENAME: output/20240317/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20240317.root
#INUNFOLDFILENAME: output/20240606/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20240606.root
INUNFOLDFILENAME: output/20250127/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20250127.root