INFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar11/atlasLHCVac.XXIsoChannel.Multijet_v2IsoFix_20240228.Condor.root
OUTFILENAME: atlasLHCVac_AJJ_MCAna.root
#INUNFOLDFILENAME: output/20240317/unfold_PPData_R2_7piOver8_AJJ_Reweight_20240317.root
#INUNFOLDFILENAME: output/20240609/unfold_PPData_R2_7piOver8_AJJ_Reweight_20240609.root
INUNFOLDFILENAME: output/20250127/unfold_PPData_R2_7piOver8_AJJ_Reweight_20250127.root