#OLD PRE MAR 13
#INFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb23/atlasLHCMed.Cent0to10.Multijet.Condor.root
#INFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar11/atlasLHCMed.Cent0to10.Multijet_v2IsoFix_20240228.Condor.root
#Replaced Aug 20 2025 to drop the min jet pT to 5
INFILENAME: /home/cfm/CUBHIG/tempPlots2025/Aug20/atlasLHCMed.Cent0to10.Multijet_v2IsoFix_20240228_JtPt5p0.Condor.root
OUTFILENAME: atlasLHCMed_XJJ_Cent0to10_MCAna.root
#OLD PRE MAR 13
#INUNFOLDFILENAME: output/20230301/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20230301.root
#INUNFOLDFILENAME: output/20240316/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20240316.root
INUNFOLDFILENAME: output/20250127/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20250127.root