#OLD, SUPERSEDED
#INFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb23/atlasLHCVac.XXIsoChannel.Multijet.Condor.root
INFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar11/atlasLHCVac.XXIsoChannel.Multijet_v2IsoFix_20240228.Condor.root
OUTFILENAME: atlasLHCVac_DRJJ_MCAna.root
#OLD
#INUNFOLDFILENAME: output/20230302/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20230302.root
#Superseded once the iso issue was found
#INUNFOLDFILENAME: output/20240317/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20240317.root
#INUNFOLDFILENAME: output/20240605/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20240605.root
INUNFOLDFILENAME: output/20250127/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20250127.root