INDATAFILENAME: output/20200820/ntuplePreProc_PPData_R4_HIST_20200820.root
INMCFILENAME: output/20200820/ntupleMCPreProc_PPMC_R4_HIST_20200820.root

#GLOBALLABEL: #bf{#it{ATLAS Internal}},#sqrt{s_{NN}} = 5.02 TeV

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: #sqrt{s_{NN}} = 5.02 TeV
DATALABEL: p+p 2017
MCLABEL: PYTHIA 8 Reco.
MCTRUTHLABEL: PYTHIA 8 Truth

GAMMAPTMAX: 1
GAMMAPTMIN: 0.0001
GAMMAPTRATMAX: 1.5
GAMMAPTRATMIN: 0.5
GAMMAPTLABELX: 0.7
GAMMAPTLABELY: 0.9
GAMMAPTALIGNRIGHT: 1
GAMMAPTLEGX: 0.28
GAMMAPTLEGY: 0.95
GAMMAPTLOGX: 0
GAMMAPTLOGY: 1
GAMMAPTGENBOX.0: 0.0,0.92,0.12,0.999
GAMMAPTGENBOX.1: 0.0,0.4,0.12,0.5
GAMMAPTGENBOX.2: 0.85,0.0,0.999,0.12

JTDPHIMAX: 0.8
JTDPHIMIN: -0.03
JTDPHIRATMAX: 2.0
JTDPHIRATMIN: 0.0
JTDPHILABELX: 0.18
JTDPHILABELY: 0.9
JTDPHIALIGNRIGHT: 0
JTDPHILEGX: 0.52
JTDPHILEGY: 0.94
JTDPHILOGX: 0
JTDPHILOGY: 0
#JTDPHIGENBOX.0: 0.05,0.92,0.12,0.999
JTDPHIGENBOX.0: 0.07,0.4,0.12,0.45

JTETAMAX: 0.12
JTETAMIN: -0.005
JTETARATMAX: 2.0
JTETARATMIN: 0.5
JTETALABELX: 0.17
JTETALABELY: 0.91
JTETAALIGNRIGHT: 0
JTETALEGX: 0.58
JTETALEGY: 0.95
JTETALOGX: 0
JTETALOGY: 0
JTETAGENBOX.0: 0.0,0.92,0.12,0.999
JTETAGENBOX.1: 0.0,0.4,0.12,0.5

JTPTMAX: 0.4
JTPTMIN: 0.0001
JTPTRATMAX: 2.0
JTPTRATMIN: 0.0
JTPTLABELX: 0.18
JTPTLABELY: 0.45
JTPTALIGNRIGHT: 0
JTPTLEGX: 0.58
JTPTLEGY: 0.96
JTPTLOGX: 0
JTPTLOGY: 1
JTPTGENBOX.0: 0.0,0.92,0.12,0.999
JTPTGENBOX.1: 0.0,0.4,0.12,0.5

JTXJMAX: 0.35
JTXJMIN: -0.02
JTXJRATMAX: 1.6
JTXJRATMIN: 0.4
JTXJLABELX: 0.69
JTXJLABELY: 0.93
JTXJALIGNRIGHT: 1
JTXJLEGX: 0.15
JTXJLEGY: 0.96
JTXJLOGX: 0
JTXJLOGY: 0
#JTXJGENBOX.0: 0.07,0.4,0.12,0.45

JTMULTMAX: 0.8
JTMULTMIN: 0.0001
JTMULTRATMAX: 1.5
JTMULTRATMIN: 0.5
JTMULTLABELX: 0.68
JTMULTLABELY: 0.9
JTMULTALIGNRIGHT: 1
JTMULTLEGX: 0.17
JTMULTLEGY: 0.16
JTMULTLOGX: 0
JTMULTLOGY: 1
JTMULTGENBOX.0: 0.0,0.92,0.12,0.999
JTMULTGENBOX.1: 0.0,0.4,0.12,0.5
JTPTGENBOX.2: 0.85,0.0,0.999,0.12

MULTIJTPTMAX: 0.1
MULTIJTPTMIN: 0.0001
MULTIJTPTRATMAX: 2.0
MULTIJTPTRATMIN: 0.0
MULTIJTPTLABELX: 0.17
MULTIJTPTLABELY: 0.47
MULTIJTPTALIGNRIGHT: 0
MULTIJTPTLEGX: 0.58
MULTIJTPTLEGY: 0.96
MULTIJTPTLOGX: 0
MULTIJTPTLOGY: 1
MULTIJTPTGENBOX.0: 0.0,0.92,0.12,0.999
MULTIJTPTGENBOX.1: 0.0,0.4,0.12,0.5

MULTIJTXJMAX: 0.25
MULTIJTXJMIN: -0.02
MULTIJTXJRATMAX: 1.5
MULTIJTXJRATMIN: 0.5
MULTIJTXJLABELX: 0.67
MULTIJTXJLABELY: 0.93
MULTIJTXJALIGNRIGHT: 1
MULTIJTXJLEGX: 0.21
MULTIJTXJLEGY: 0.96
MULTIJTXJLOGX: 0
MULTIJTXJLOGY: 0
MULTIJTXJGENBOX.0: 0.07,0.4,0.12,0.45

MULTIJTXJJMAX: 0.16
MULTIJTXJJMIN: -0.01
MULTIJTXJJRATMAX: 2.0
MULTIJTXJJRATMIN: 0.0
MULTIJTXJJLABELX: 0.69
MULTIJTXJJLABELY: 0.93
MULTIJTXJJALIGNRIGHT: 1
MULTIJTXJJLEGX: 0.15
MULTIJTXJJLEGY: 0.97
MULTIJTXJJLOGX: 0
MULTIJTXJJLOGY: 0
MULTIJTXJJGENBOX.0: 0.07,0.4,0.12,0.45

MULTIJTDPHIJJMAX: 0.2
MULTIJTDPHIJJMIN: -0.03
MULTIJTDPHIJJRATMAX: 2.0
MULTIJTDPHIJJRATMIN: 0.0
MULTIJTDPHIJJLABELX: 0.69
MULTIJTDPHIJJLABELY: 0.9
MULTIJTDPHIJJALIGNRIGHT: 1
MULTIJTDPHIJJLEGX: 0.3
MULTIJTDPHIJJLEGY: 0.94
MULTIJTDPHIJJLOGX: 0
MULTIJTDPHIJJLOGY: 0
MULTIJTDPHIJJGENBOX.0: 0.07,0.4,0.12,0.45

DOALLLEG:                   0
PERMALEG.0:                 PP
