#INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200513.Job52.data17_5TeV.PreProcNtuple/20200514/ntuplePreProc_PPData_20200514.root
INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20201209.Job173.PreProcNtuple/20201216/ntuplePreProc_PPData_20201216.root
OUTFILENAME: ntuplePreProc_PPData_R4_HIST.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
MIXFILENAME: NA
GRLFILENAME: input/data17_5TeV.periodAllYear_DetStatus-v98-pro21-16_Unknown_PHYS_StandardGRL_All_Good_25ns_ignore_GLOBAL_LOWMU.xml
PURITYFILENAME: /usatlas/u/goyeonju/usatlasdata/GDJ/PURITY/phoTagJetRaa_photonPurity_PP_v1_nominal.root

JETR: 4
ASSOCGENMINPT: 25.0
GAMMAEXCLUSIONDR: 0.5

DOMIX: 0
NMIXEVENTS: 10
MIXJETEXCLUSIONDR: 0.6
DOSTRICTMIX: 0
MIXCAP: 5000

CENTBINS: 0,100

ISPP: 1
ISMC: 0

#Gamma controls
DOPTISOCORRECTION: 1
DOCENTISOCORRECTION: 1
ISOLATIONR: 3
SIDEBANDTYPE: 2
#SIDEBAND TYPE 1: tight and non-isolated
#SIDEBAND TYPE 2: non-tight and isolated
#SIDEBAND TYPE 3: non-tight and non-isolated
#SIDEBAND TYPE 4: non-isolated
#SIDEBAND TYPE 5: non-tight        

NGAMMAPTBINS: 5
GAMMAPTBINSLOW: 60
GAMMAPTBINSHIGH: 500
GAMMAPTBINSDOLOG: 0
GAMMAPTBINSDOCUSTOM: 1
GAMMAPTBINSCUSTOM: 60,80,100,130,180,500

NGAMMAETABINS: 24
GAMMAETABINSLOW: -2.37
GAMMAETABINSHIGH: 2.37
GAMMAETABINSDOABS: 0

NJTETABINS: 28
JTETABINSLOW: -2.8
JTETABINSHIGH: 2.8
JTETABINSDOABS: 0

NJTETABINSSUB: 56
JTETABINSSUBLOW: -2.8
JTETABINSSUBHIGH: 2.8
JTETABINSSUBDOABS: 0
JTETABINSSUBDOLIN: 1
#JTETABINSSUBDOCUSTOM: 1
#JTETABINSSUBCUSTOM: 0.0,0.3,0.8,1.2,2.1,2.8

NPHIBINS: 24

NGAMMAPTBINSSUB: 3
GAMMAPTBINSSUBLOW: 80
GAMMAPTBINSSUBHIGH: 280
GAMMAPTBINSSUBDOLOG: 1

NGAMMAETABINSSUB: 6
GAMMAETABINSSUBLOW: 0
GAMMAETABINSSUBHIGH: 2.37
GAMMAETABINSSUBDOABS: 1

NJTPTBINS: 16
JTPTBINSLOW: 25
JTPTBINSHIGH: 500
JTPTBINSDOLOG: 0
JTPTBINSDOCUSTOM: 1
JTPTBINSCUSTOM: 25,30,36,44,53,64,77,93,112,135,163,196,236,285,344,415,500


NDPHIBINS: 16
DPHIBINSLOW: -0.0000001
DPHIBINSHIGH: 3.1415927

GAMMAJTDPHI: pi/2

NXJBINS: 11
XJBINSLOW: 0.0
XJBINSHIGH: 2.2
XJBINSDOCUSTOM: 1
XJBINSCUSTOM: 0.0,0.25,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.2,1.6,2.2