INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20220316.Job286.data18_hi.periodAllYear.physics_HardProbes.PreProcNtuple/20220802/ntuplePreProc_PbPbData_20220802.root

OUTFILENAME: ntuplePreProc_PbPbData_RINRVAL_PtMinINJTPTBINSLOW_IncDPhiINGAMMAJTDPHINAME_MultiDPhiINGAMMAMULTIJTDPHINAME_DRINMIXJETEXCLUSIONDRNAME_HIST.root

CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
MIXFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20220316.Job287to288.data18_hi.periodAllYear.physics_CCandPC.PreProcNtuple/20220802/ntuplePreProc_PbPbCCandPCMix_20220802.root

GRLFILENAME: input/data18_hi.periodAllYear_DetStatus-v104-pro22-08_Unknown_PHYS_HeavyIonP_All_Good_ignore_TOROIDSTATUS.xml
#PURITYFILENAME: /usatlas/u/goyeonju/usatlasdata/GDJ/PURITY/phoTagJetRaa_photonPurity_PbPb_v1_nominal.root
PURITYFILENAME: /usatlas/u/goyeonju/usatlasdata/GDJ/PURITY/phoTagJetRaa_photonPurity_PbPb_v16_nominal_erf.root
DOUNIFIEDPURITY: 1

ISOFILENAME: /usatlas/u/goyeonju/usatlasdata/GDJ/PHOTONEFFICIENCY/phoTagJetRaa_photonIsolation_PbPbMC_v18_nominal.root
QGFILENAME: /gpfs/mnt/atlasgpfs01/usatlas/data/goyeonju/GDJ/input/phoTagJetRaa_flavorDepJES_PPMC_v8_flavorJESv2_R2.root

DOCENTMIXCORRECT: 1
CENTMIXCORRECTFILE: input/mixPerCentWeights/basicMixPerCentWeights_Unbiased_20230223.txt

EXCLUDETRUTHINDUCEDFAKE: 0

JETR: INRVAL
ASSOCGENMINPT: 15.0
GAMMAEXCLUSIONDR: 0.5

DOMIX: 1
NMIXEVENTS: 10
MIXJETEXCLUSIONDR: INMIXJETEXCLUSIONDR
DOSTRICTMIX: 0
MIXCAP: 5000

DOMIXCENT: 1
NMIXCENTBINS: 80
MIXCENTBINSLOW: 0
MIXCENTBINSHIGH: 80

DOMIXPSI2: 1
NMIXPSI2BINS: 16
MIXPSI2BINSLOW: -1.5708
MIXPSI2BINSHIGH: 1.5708

#OFF NOW!
DOMIXVZ: 0
NMIXVZBINS: 3
MIXVZBINSLOW: -15
MIXVZBINSHIGH: 15

CENTBINS: 0,10,30,80

ISPP: 0
ISMC: 0
KEEPRESPONSETREE: 0

#Gamma controls
DOPTISOCORRECTION: 1
DOCENTISOCORRECTION: 1
ISOLATIONR: 3
SIDEBANDTYPE: 6
#SIDEBAND TYPE 1: tight and non-isolated
#SIDEBAND TYPE 2: non-tight and isolated
#SIDEBAND TYPE 3: non-tight and non-isolated
#SIDEBAND TYPE 4: non-isolated
#SIDEBAND TYPE 5: non-tight
#2022.11.16 - adding new sidebands
#Based on isEM bit definitions here: https://github.com/YeonjuGo/GDJ/blob/master/src/phoTaggedJetRaa_j\etPt.C#L149
#SIDEBAND TYPE 6: non-tight and isolated w/ nominal isEM bit - 0x45fc01, fracm+weta1+deltaE+Eratio
#SIDEBAND TYPE 7: non-tight and isolated w/ nominal isEM bit - 0x67fc01, fracm+weta1 -> looser
#SIDEBAND TYPE 8: non-tight and isolated w/ nominal isEM bit - 0x41fc01, fracm+weta1+deltaE+Eratio+ws -> tighter
#SIDEBAND TYPE 9: other

#Previous was 50,60,80,100,130,180,500
#Switch to 50,60,70,90,130,180,1000
#For YJ x-check
NGAMMAPTBINS: 4
GAMMAPTBINSLOW: 40
GAMMAPTBINSHIGH: 500
GAMMAPTBINSDOLOG: 0
GAMMAPTBINSDOCUSTOM: 1
GAMMAPTBINSCUSTOM: 40,60,90,180,500
GAMMAPTBINSLOWRECO: 60
GAMMAPTBINSHIGHRECO: 180


NGAMMAPTFINEBINS: 450
GAMMAPTFINEBINSLOW: 50
GAMMAPTFINEBINSHIGH: 500
GAMMAPTFINEBINSDOLOG: 0
GAMMAPTFINEBINSDOCUSTOM: 0
GAMMAPTFINEBINSCUSTOM: 50,60,80,100,130,180,500

NGAMMAETABINS: 24
GAMMAETABINSLOW: -2.37
GAMMAETABINSHIGH: 2.37
GAMMAETABINSDOABS: 0

NJTETABINS: 28
JTETABINSLOW: -2.8
JTETABINSHIGH: 2.8
JTETABINSDOABS: 0

NJTETABINSSUB: 56
JTETABINSSUBLOW: -2.8
JTETABINSSUBHIGH: 2.8
JTETABINSSUBDOABS: 0
JTETABINSSUBDOLIN: 1
#JTETABINSSUBDOCUSTOM: 1
#JTETABINSSUBCUSTOM: 0.0,0.3,0.8,1.2,2.1,2.8

NPHIBINS: 24

NGAMMAPTBINSSUB: 3
GAMMAPTBINSSUBLOW: 80
GAMMAPTBINSSUBHIGH: 280
GAMMAPTBINSSUBDOLOG: 1

NGAMMAETABINSSUB: 6
GAMMAETABINSSUBLOW: 0
GAMMAETABINSSUBHIGH: 2.37
GAMMAETABINSSUBDOABS: 1

NJTPTBINS: INNJTPTBINS
JTPTBINSLOW: INJTPTBINSLOW
JTPTBINSHIGH: INJTPTBINSHIGH
JTPTBINSDOLOG: 0
JTPTBINSDOCUSTOM: 1
JTPTBINSCUSTOM: INJTPTBINSCUSTOM
JTPTBINSLOWRECO: INJTPTBINSLOWRECO
JTPTBINSHIGHRECO: INJTPTBINSHIGHRECO
JTPTBINSLOWRECOSYST: INJTPTBINSLOWRECOSYST

NJTPTFINEBINS: 470
JTPTFINEBINSLOW: 30
JTPTFINEBINSHIGH: 500
JTPTFINEBINSDOLOG: 0
JTPTFINEBINSDOCUSTOM: 0
JTPTFINEBINSCUSTOM: INJTPTBINSCUSTOM

NSUBJTPTBINS: INNSUBJTPTBINS
SUBJTPTBINSLOW: INJTPTBINSLOW
SUBJTPTBINSHIGH: INJTPTBINSHIGH
SUBJTPTBINSDOLOG: 0
SUBJTPTBINSDOCUSTOM: 1
SUBJTPTBINSCUSTOM: INSUBJTPTBINSCUSTOM
SUBJTPTBINSLOWRECO: INJTPTBINSLOWRECO
SUBJTPTBINSLOWRECOSYST: INJTPTBINSLOWRECOSYST
SUBJTPTBINSHIGHRECO: INJTPTBINSHIGHRECO

NDRBINS: 12
DRBINSLOW: 0.0
DRBINSHIGH: 4.0
DRBINSDOLOG: 0
DRBINSDOCUSTOM: 1
DRBINSCUSTOM: 0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.8,1.2,1.6,2.0,3.0,4.0
DRBINSLOWRECO: 0.4
DRBINSHIGHRECO: 3.0

NDRFINEBINS: 400
DRFINEBINSLOW: 0.0
DRFINEBINSHIGH: 4.0
DRFINEBINSDOLOG: 0
DRFINEBINSDOCUSTOM: 0
DRFINEBINSCUSTOM: 0.0,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.7,0.8,1.0,1.2,1.6,1.8,2.0,2.5,3.0,3.5,4.0


NDPHIBINS: 11
DPHIBINSLOW: -0.0000001
DPHIBINSHIGH: 3.1415927
DPHIBINSDOCUSTOM: 1
DPHIBINSCUSTOM: 0, 0.392699, 0.785398, 1.1781, 1.5708, 1.9635, 2.35619, 2.74889, 2.82743, 2.93215, 3.03687, 3.14159

NDPHIFINEBINS: 100
DPHIFINEBINSLOW: -0.0000001
DPHIFINEBINSHIGH: 3.1415927
DPHIFINEBINSDOCUSTOM: 0
DPHIFINEBINSCUSTOM: 0, 0.392699, 0.785398, 1.1781, 1.5708, 1.9635, 2.35619, 2.74889, 2.82743, 2.93215, 3.03687, 3.14159


GAMMAJTDPHI: INGAMMAJTDPHI
GAMMAMULTIJTDPHI: INGAMMAMULTIJTDPHI

NXJBINS: 24
XJBINSLOW: 0.0
XJBINSHIGH: 3.0
XJBINSDOCUSTOM:	1
XJBINSCUSTOM: 0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.35,1.5,1.65,1.8,1.95,2.1,2.25,2.4,2.55,2.7,2.85,3.0
XJBINSLOWRECO: 0.3
XJBINSHIGHRECO: 2.70

NXJJBINS: 12
XJJBINSLOW: 0.0
XJJBINSHIGH: 3.0
XJJBINSDOCUSTOM: 1
XJJBINSCUSTOM: 0.0,0.15,0.3,0.45,0.6,0.75,0.9,1.05,1.2,1.5,1.8,2.4,3.0
XJJBINSLOWRECO: 0.3
XJJBINSHIGHRECO: 1.80


NXJFINEBINS: 300
XJFINEBINSLOW: 0.0
XJFINEBINSHIGH: 3.0
XJFINEBINSDOCUSTOM: 0
XJFINEBINSCUSTOM: 0.0,0.25,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.2,1.6,3.0

NAJBINS: 8
AJBINSLOW: 0.0
AJBINSHIGH: 1.2
AJBINSDOCUSTOM: 1
AJBINSCUSTOM: 0.0,0.05,0.1,0.2,0.3,0.4,0.6,0.8,1.2
AJBINSLOWRECO: 0.0
AJBINSHIGHRECO: 0.8

NAJFINEBINS: 120
AJFINEBINSLOW: 0.0
AJFINEBINSHIGH: 1.2
AJFINEBINSDOCUSTOM: 0
AJFINEBINSCUSTOM: 0.0,0.05,0.1,0.15,0.2,0.25,0.3,0.4,0.5,0.6,0.8,1.2
