#INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20210325.Job186_187_188_189_190.PreProcNtuple/20210412/ntuplePreProc_PPMC_20210412.root
INFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20210325.Job186_187_188_189_190.PreProcNtupleAlt/20220310/ntuplePreProc_PPMC_20220310.root

OUTFILENAME: ntupleMCPreProc_PPMC_R2_PtMinINJTPTBINSLOW_IncDPhiINGAMMAJTDPHINAME_MultiDPhiINGAMMAMULTIJTDPHINAME_DRINMIXJETEXCLUSIONDRNAME_GenMinINGENMINPT_HIST.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
MIXFILENAME: NA
GRLFILENAME: NA
PURITYFILENAME: /usatlas/u/goyeonju/usatlasdata/GDJ/PURITY/phoTagJetRaa_photonPurity_PP_v6_nominal_erf.root
DOUNIFIEDPURITY: 1

JETR: 2
ASSOCGENMINPT: INGENMINPT
GAMMAEXCLUSIONDR: 0.5

#NEVT: 500000

DOMIX: 0
NMIXEVENTS: 10
MIXJETEXCLUSIONDR: INMIXJETEXCLUSIONDR
DOSTRICTMIX: 0
MIXCAP: 5000

CENTBINS: 0,100

ISPP: 1
ISMC: 1
KEEPRESPONSETREE: 0

#Gamma controls
DOPTISOCORRECTION: 1
DOCENTISOCORRECTION: 1
ISOLATIONR: 3
SIDEBANDTYPE: 2
#SIDEBAND TYPE 1: tight and non-isolated
#SIDEBAND TYPE 2: non-tight and isolated
#SIDEBAND TYPE 3: non-tight and non-isolated
#SIDEBAND TYPE 4: non-isolated
#SIDEBAND TYPE 5: non-tight
#SIDEBAND TYPE 6: other

NGAMMAPTBINS: 6
GAMMAPTBINSLOW: 50
GAMMAPTBINSHIGH: 1000
GAMMAPTBINSDOLOG: 0
GAMMAPTBINSDOCUSTOM: 1
GAMMAPTBINSCUSTOM: 50,60,70,90,130,180,1000

NGAMMAPTFINEBINS: 450
GAMMAPTFINEBINSLOW: 50
GAMMAPTFINEBINSHIGH: 500
GAMMAPTFINEBINSDOLOG: 0
GAMMAPTFINEBINSDOCUSTOM: 0
GAMMAPTFINEBINSCUSTOM: 50,60,80,100,130,180,500


NGAMMAETABINS: 24
GAMMAETABINSLOW: -2.37
GAMMAETABINSHIGH: 2.37
GAMMAETABINSDOABS: 0

NJTETABINS: 28
JTETABINSLOW: -2.8
JTETABINSHIGH: 2.8
JTETABINSDOABS: 0

NJTETABINSSUB: 56
JTETABINSSUBLOW: -2.8
JTETABINSSUBHIGH: 2.8
JTETABINSSUBDOABS: 0
JTETABINSSUBDOLIN: 1
#JTETABINSSUBDOCUSTOM: 1
#JTETABINSSUBCUSTOM: 0.0,0.3,0.8,1.2,2.1,2.8

NPHIBINS: 24

NGAMMAPTBINSSUB: 3
GAMMAPTBINSSUBLOW: 80
GAMMAPTBINSSUBHIGH: 280
GAMMAPTBINSSUBDOLOG: 1

NGAMMAETABINSSUB: 6
GAMMAETABINSSUBLOW: 0
GAMMAETABINSSUBHIGH: 2.37
GAMMAETABINSSUBDOABS: 1

NJTPTBINS: INNJTPTBINS
JTPTBINSLOW: INJTPTBINSLOW
JTPTBINSHIGH: INJTPTBINSHIGH
JTPTBINSDOLOG: 0
JTPTBINSDOCUSTOM: 1
JTPTBINSCUSTOM: INJTPTBINSCUSTOM

NJTPTFINEBINS: 470
JTPTFINEBINSLOW: 30
JTPTFINEBINSHIGH: 500
JTPTFINEBINSDOLOG: 0
JTPTFINEBINSDOCUSTOM: 0
JTPTFINEBINSCUSTOM: INJTPTBINSCUSTOM


#NDPHIBINS: 16
#DPHIBINSLOW: -0.0000001
#DPHIBINSHIGH: 3.1415927

NDRBINS: 23
DRBINSLOW: 0.0
DRBINSHIGH: 4.0
DRBINSDOLOG: 0
DRBINSDOCUSTOM: 1
DRBINSCUSTOM: 0.0,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.7,0.8,1.0,1.2,1.6,1.8,2.0,2.5,3.0,3.5,4.0

NDPHIBINS: 32
DPHIBINSLOW: -0.0000001
DPHIBINSHIGH: 6.28

GAMMAJTDPHI: INGAMMAJTDPHI
GAMMAMULTIJTDPHI: INGAMMAMULTIJTDPHI

NXJBINS: 18
XJBINSLOW: 0.0
XJBINSHIGH: 3.0
XJBINSDOCUSTOM:	0
XJBINSCUSTOM: 0.0,0.25,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.2,1.6,2.2

NAJBINS: 11
AJBINSLOW: 0.0
AJBINSHIGH: 1.2
AJBINSDOCUSTOM: 1
AJBINSCUSTOM: 0.0,0.05,0.1,0.15,0.2,0.25,0.3,0.4,0.5,0.6,0.8,1.2
