INFILENAME: output/20200904/ntuplePreProc_PbPbData_TEST_R2_HIST_20200904.root

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: HardProbes Triggered Data
GLOBALLABEL.2: #sqrt{s_{NN}} = 5.02 TeV

ERESWIDTHMAX: 0.6
ERESWIDTHMIN: 0.0
ERESMEANMAX: 1.1
ERESMEANMIN: 0.9
ERESDOLOGX: 1
ERESLABELX: 0.68
ERESLABELY: 0.7
ERESLABELALIGNRIGHT: 1
ERESLEGX: 0.2
ERESLEGY: 0.96
ERESBOX.0: 0.075,0.33,0.145,0.39

CORRLABELX: 0.2
CORRLABELY: 0.45