INFILENAME: output/20200826/ntupleMCPreProc_PPMC_R4_HIST_20200826.root

GLOBALLABEL.0: #bf{#it{ATLAS Internal}}
GLOBALLABEL.1: PYTHIA
GLOBALLABEL.2: #sqrt{s_{NN}} = 5.02 TeV

ERESWIDTHMAX: 0.6
ERESWIDTHMIN: 0.0
ERESMEANMAX: 1.1
ERESMEANMIN: 0.9
ERESDOLOGX: 1
ERESLABELX: 0.68
ERESLABELY: 0.7
ERESLABELALIGNRIGHT: 1
ERESLEGX: 0.2
ERESLEGY: 0.96
ERESBOX.0: 0.075,0.33,0.145,0.39
