#INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb01/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230131.root
#INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb01/ntuplePreProc_PbPbData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20230131.root
#INMIXSYSTFILENAME: output/20230201/mixedEvtNonClosure_PbPbMC_R2_20230201.root

#Alt Q/G Scaling 12/15 2024
INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Dec15/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20241215.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntuplePreProc_PbPbData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20240315.root
INMIXSYSTFILENAME: output/20230612/mixedEvtNonClosure_PbPbMC_R2_20230612.root

OUTFILENAME: unfold_PbPbData_R2_XJ.root

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PbPbMC_v18_nominal.root

DOTRUTHTEST: 0
DOROOFAKETEST: 0
DOHALFTEST: 0

VARNAME: XJ

NITER: 8

SAVETAG: Reweight

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0
REBINY: 40,50,60,90,180,300,500
REBINX: 0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.35,1.5,1.65,1.8,1.95,2.1,2.25,2.4,2.55,2.7,2.85,3.0

#0: default; 1: toys
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 1
NTOYS: 100

UNFOLD: ALL