#Superseded from Iso
#INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240315.root
#INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntuplePreProc_PPData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20240315.root

#Non-iso truth is removed
#Replaced in Jun05 - superseded q/g
#INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Jun05/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240605.root
#INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntuplePreProc_PPData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20240315.root

#Q/G superseded 12/15 2024
#INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Dec15/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20241215.root
#INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntuplePreProc_PPData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20240315.root

#Jan 24 - switch response file for getting all syst
INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2025/Jan24/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20250123.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2025/Jan24/ntuplePreProc_PPData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20250124.root


INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PPMC_v18_nominal.root

SAVETAG: Reweight

OUTFILENAME: unfold_PPData_R2_7piOver8_XJJ.root

DOTRUTHTEST: 0
DOHALFTEST: 0
DOROOFAKETEST: 0

VARNAME: XJJ

NITER: 8

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0
REBINY: 40,50,60,90,180,300,500
REBINX: 0.0,0.3,0.45,0.6,0.75,0.9,1.05,1.2,1.5,1.8,2.1,2.7,3.0
#REBINX: 0.0,0.15,0.3,0.45,0.6,0.75,0.9,1.05,1.2,1.35,1.5,1.8,2.1,2.4,2.7,3.0

#0: default; 1: toys; 2: no error
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 1
NTOYS: 100

UNFOLD: ALL
#UNFOLD: NOMINAL,JTPTCUT