INUNFOLDFILENAME: output/20220525/ntuplePreProc_PPData_R2_PtMin20_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_HIST_20220525.root

INRESPONSEFILENAME: output/20220525/ntupleMCPreProc_PPMC_R2_PtMin20_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220525.root

OUTFILENAME: unfold_PPData_R2_DPhi.root

VARNAME: DPhi

NITER: 10

DOREWEIGHT: 0
 
UNFOLDERRTYPE: 1
NTOYS: 100

DOREBIN: 0
