INRESPONSEFILENAME: /home/cfmcginn/CUBHIG/tempPlots2023/Jan04/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230103.root
INUNFOLDFILENAME: /home/cfmcginn/CUBHIG/tempPlots2023/Jan04/ntuplePreProc_PbPbData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20230103.root
INMIXSYSTFILENAME: output/20230104/mixedEvtNonClosure_PbPbMC_R2_20230104.root

OUTFILENAME: unfold_PbPbData_R2_Pt.root

VARNAME: Pt

NITER: 8

SAVETAG: Reweight

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0

#0: default; 1: toys
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 1

NTOYS: 100

UNFOLD: ALL