INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2023/Mar01/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230301.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2023/Mar01/ntuplePreProc_PbPbData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20230301.root
INMIXSYSTFILENAME: output/20230301/mixedEvtNonClosure_PbPbMC_R2_20230301.root

OUTFILENAME: unfold_PbPbData_R2_7piOver8_DRJJ.root

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PbPbMC_v18_nominal.root

DOTRUTHTEST: 0

VARNAME: DRJJ

NITER: 8

SAVETAG: Reweight

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0
REBINY: 40,50,60,90,180,300,500
REBINX: 0.0,0.3,0.45,0.6,0.75,0.9,1.05,1.2,1.5,1.8,2.1,2.7,3.0

#0: default; 1: toys; 2: no error
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 1
NTOYS: 1000

UNFOLD: ALL