INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb01/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230131.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2023/Feb01/ntuplePreProc_PbPbData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20230131.root
INMIXSYSTFILENAME: output/20230201/mixedEvtNonClosure_PbPbMC_R2_20230201.root

OUTFILENAME: unfold_PbPbData_R2_Pt.root

VARNAME: Pt

NITER: 8

SAVETAG: Reweight

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0

#0: default; 1: toys
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 1

NTOYS: 100

UNFOLD: ALL