INRESPONSEFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/May25/ntupleMCPreProc_PbPbMC_R2_PtMin20_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220524.root
INUNFOLDFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/May25/ntupleMCPreProc_PbPbMC_R2_PtMin20_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220524.root

OUTFILENAME: unfold_PbPbMC_R2_Pt.root

VARNAME: Pt
NITER: 10

DOREWEIGHT: 0

DOREBIN: 0
REBINX:                36,53,77,112,163,236,344,500
REBINY:                50,60,80,100,130,180,500

#0: default; 1: toys
UNFOLDERRTYPE: 1
NTOYS: 100

