#During the Jun debug supersede
#INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240315.root
#INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240315.root

#Superseded for 12/15 version for note updates, 1/17/25
#INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Jun05/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240605.root
#INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Jun05/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240605.root

INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Dec15/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20241215.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Dec15/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20241215.root

OUTFILENAME: unfold_PPMC_R2_AJJ_7piOver8.root

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PPMC_v18_nominal.root

SAVETAG: NoReweight

DOTRUTHTEST: 0
DOROOFAKETEST: 0
DOHALFTEST: 0

VARNAME: AJJ

NITER: 8

DOREWEIGHTVAR: 0
DOREWEIGHTDR: 0

#0: default; 1: toys; 2: no error
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 0
NTOYS: 100

DOREBIN: 0

#UNFOLD: ALL
UNFOLD: NOMINAL