INRESPONSEFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/Nov14/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20221114.root

INUNFOLDFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/Nov14/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20221114.root

OUTFILENAME: unfold_PbPbMC_R2_DRJJ.root

VARNAME: DRJJ

SAVETAG: NoReweight

NITER: 8

DOREWEIGHTVAR: 0
DOREWEIGHTDR: 0


DOREBIN: 0

#0: default; 1: toys; 2: no error
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 0
NTOYS: 100

UNFOLD: Nominal