#Updating for testing 5/29
#INRESPONSEFILENAME: output/20220606/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220606.root
#INUNFOLDFILENAME: output/20220606/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220606.root

#5/29 testing
INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240315.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2024/Mar16/20240315/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20240315.root

OUTFILENAME: unfold_PPMC_R2_XJ_7piOver8.root

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PPMC_v18_nominal.root

DOHALFTEST: 0
DOTRUTHTEST: 0
DOROOFAKETEST: 0

SAVETAG: NoReweight

VARNAME: XJ

NITER: 8

DOREWEIGHTVAR: 0
DOREWEIGHTDR: 0

#0: default; 1: toys
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 0
NTOYS: 100

DOREBIN: 0
#REBINY: 40,50,60,90,180,300,500
#REBINX: 0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.35,1.5,1.65,1.8,1.95,2.1,2.25,2.4,2.55,2.7,2.85,3.0


UNFOLD: NOMINAL