INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2023/Mar01/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230301.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2023/Mar01/ntuplePreProc_PPData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20230301.root

SAVETAG: Reweight

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PPMC_v18_nominal.root

OUTFILENAME: unfold_PPData_R2_Pt.root

DOTRUTHTEST: 0
DOROOFAKETEST: 0
DOHALFTEST: 0

VARNAME: Pt

NITER: 8

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0

#0: default; 1: toys
UNFOLDERRTYPE: 1
NTOYS: 100


SYSTUNFOLDERRTYPE: 1

UNFOLD: NOMINAL,JTPTCUT