INRESPONSEFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/May25/ntupleMCPreProc_PbPbMC_R2_PtMin20_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220524.root
INUNFOLDFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/May25/ntuplePreProc_PbPbData_R2_PtMin20_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_HIST_20220524.root
OUTFILENAME: unfold_PbPbData_R2_DPhi.root

VARNAME: DPhi

NITER: 10

DOREWEIGHT: 0

#0: default; 1: toys
UNFOLDERRTYPE: 1
NTOYS: 100

DOREBIN: 0