INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2023/May18/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230518.root
INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2023/May18/ntupleMCPreProc_PPMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230518.root
OUTFILENAME: unfold_PPMC_R2_Pt_7piOver8.root

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PPMC_v18_nominal.root

DOHALFTEST: 0
DOTRUTHTEST: 0
DOROOFAKETEST: 0

SAVETAG: NoReweight

VARNAME: Pt

NITER: 8

DOREWEIGHTVAR: 0
DOREWEIGHTDR: 0

#0: default; 1: toys; 2: no error
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 0
NTOYS: 100

DOREBIN: 0
#UNFOLD: ALL
UNFOLD: NOMINAL