INRESPONSEFILENAME: /home/cfm/CUBHIG/tempPlots2023/Jun08/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20230608.root

INUNFOLDFILENAME: /home/cfm/CUBHIG/tempPlots2023/Jun13/ntuplePreProc_PbPbData_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_HIST_20230613.root
#INMIXSYSTFILENAME: output/20230419/mixedEvtNonClosure_PbPbMC_R2_20230419.root

INMIXSYSTFILENAME: output/20230612/mixedEvtNonClosure_PbPbMC_R2_20230612.root

INISOFILENAME: input/purity/phoTagJetRaa_photonIsolation_PbPbMC_v18_nominal.root

OUTFILENAME: unfold_PbPbData_R2_7piOver8_XJJ.root

DOTRUTHTEST: 0
DOROOFAKETEST: 0
DOHALFTEST: 0

VARNAME: XJJ

NITER: 8

SAVETAG: Reweight

DOREWEIGHTVAR: 1
DOREWEIGHTDR: 0

DOREBIN: 0
REBINY: 40,50,60,90,180,300,500
REBINX: 0.0,0.3,0.45,0.6,0.75,0.9,1.05,1.2,1.5,1.8,2.1,2.7,3.0

#0: default; 1: toys; 2: no error
UNFOLDERRTYPE: 1
SYSTUNFOLDERRTYPE: 1

NTOYS: 100

UNFOLD: ALL
#UNFOLD: Nominal