#MIXEDEVTPLOT.INFILENAME:                output/202000826/ntupleMCPreProc_PbPbMC_R4_HIST_202000826.root
MIXEDEVTPLOT.INFILENAME:		GIVENINFILENAME

SAVETAG: GIVENSAVETAG
SAVEEXT: png

DOREDUCEDLABEL: 1

MIXEDEVTPLOT.GLOBALLABEL.0:             "#bf{#it{ATLAS Internal}}"
MIXEDEVTPLOT.GLOBALLABEL.1:             "PYT.+Overlay #sqrt{s_{NN}}=5.02 TeV"

MIXEDEVTPLOT.JTDPHIMAX:                 0.9
MIXEDEVTPLOT.JTDPHIMIN:                -0.03
MIXEDEVTPLOT.JTDPHIZOOMMAX:             2.0
MIXEDEVTPLOT.JTDPHIZOOMMIN:            0.0
MIXEDEVTPLOT.JTDPHILABELX:              0.19
MIXEDEVTPLOT.JTDPHILABELY:              0.94
MIXEDEVTPLOT.JTDPHILABELALIGNRIGHT:     0
MIXEDEVTPLOT.JTDPHILEGX:                0.75
MIXEDEVTPLOT.JTDPHILEGY:                0.90
MIXEDEVTPLOT.JTDPHIDOLOGX:              1				
MIXEDEVTPLOT.JTDPHIDOLOGY:              0				
#MIXEDEVTPLOT.JTDPHIGENBOX.0:            0.07,0.92,0.155,0.999

MIXEDEVTPLOT.JTMULTMAX:                 200000
MIXEDEVTPLOT.JTMULTMIN:                 0.7
MIXEDEVTPLOT.JTMULTZOOMMAX:             100
MIXEDEVTPLOT.JTMULTZOOMMIN:             0.7
MIXEDEVTPLOT.JTMULTLABELX:              0.68
MIXEDEVTPLOT.JTMULTLABELY:              0.94
MIXEDEVTPLOT.JTMULTLABELALIGNRIGHT:     1
MIXEDEVTPLOT.JTMULTLEGX:                0.40
MIXEDEVTPLOT.JTMULTLEGY:                0.95
MIXEDEVTPLOT.JTMULTDOLOGX:              0				
MIXEDEVTPLOT.JTMULTDOLOGY:              0				
MIXEDEVTPLOT.JTMULTGENBOX.0:            0.1,0.28,0.155,0.38

MIXEDEVTPLOT.JTPTMAX:                   0.4
MIXEDEVTPLOT.JTPTMIN:                   0.00001
MIXEDEVTPLOT.JTPTZOOMMAX:               1.5
MIXEDEVTPLOT.JTPTZOOMMIN:               0.5
MIXEDEVTPLOT.JTPTLABELX:                0.97
MIXEDEVTPLOT.JTPTLABELY:                0.94
MIXEDEVTPLOT.JTPTLABELALIGNRIGHT:       1
MIXEDEVTPLOT.JTPTLEGX:                  0.25
MIXEDEVTPLOT.JTPTLEGY:                  0.95
MIXEDEVTPLOT.JTPTDOLOGX:                0				
MIXEDEVTPLOT.JTPTDOLOGY:                1				
#MIXEDEVTPLOT.JTPTGENBOX.0:              0.1,0.31,0.155,0.41

MIXEDEVTPLOT.JTXJMAX:                   1.05
MIXEDEVTPLOT.JTXJMIN:                  -0.03
MIXEDEVTPLOT.JTXJZOOMMAX:               2.0
MIXEDEVTPLOT.JTXJZOOMMIN:               0.0
MIXEDEVTPLOT.JTXJLABELX:                0.97
MIXEDEVTPLOT.JTXJLABELY:                0.94
MIXEDEVTPLOT.JTXJLABELALIGNRIGHT:       1
MIXEDEVTPLOT.JTXJLEGX:                  0.42
MIXEDEVTPLOT.JTXJLEGY:                  0.84
MIXEDEVTPLOT.JTXJDOLOGX:                0				
MIXEDEVTPLOT.JTXJDOLOGY:                0				

MIXEDEVTPLOT.MULTIJTXJMAX:              0.5
MIXEDEVTPLOT.MULTIJTXJMIN:             -0.03
MIXEDEVTPLOT.MULTIJTXJZOOMMAX:          0.05
MIXEDEVTPLOT.MULTIJTXJZOOMMIN:         -0.05
MIXEDEVTPLOT.MULTIJTXJLABELX:           0.68
MIXEDEVTPLOT.MULTIJTXJLABELY:           0.94
MIXEDEVTPLOT.MULTIJTXJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.MULTIJTXJLEGX:             0.76
MIXEDEVTPLOT.MULTIJTXJLEGY:             0.4
MIXEDEVTPLOT.MULTIJTXJDOLOGX:           0				
MIXEDEVTPLOT.MULTIJTXJDOLOGY:           0				


MIXEDEVTPLOT.JTXJJMAX:              2.5
MIXEDEVTPLOT.JTXJJMIN:             -0.5
MIXEDEVTPLOT.JTXJJZOOMMAX:          1.5
MIXEDEVTPLOT.JTXJJZOOMMIN:          0.5
MIXEDEVTPLOT.JTXJJLABELX:           0.97
MIXEDEVTPLOT.JTXJJLABELY:           0.93
MIXEDEVTPLOT.JTXJJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.JTXJJLEGX:             0.28
MIXEDEVTPLOT.JTXJJLEGY:             0.72
MIXEDEVTPLOT.JTXJJDOLOGX:           0				
MIXEDEVTPLOT.JTXJJDOLOGY:           0				

MIXEDEVTPLOT.JTDPHIJJMAX:              2.0
MIXEDEVTPLOT.JTDPHIJJMIN:             -0.1
MIXEDEVTPLOT.JTDPHIJJZOOMMAX:          2.0
MIXEDEVTPLOT.JTDPHIJJZOOMMIN:          0.0
MIXEDEVTPLOT.JTDPHIJJLABELX:           0.18
MIXEDEVTPLOT.JTDPHIJJLABELY:           0.92
MIXEDEVTPLOT.JTDPHIJJLABELALIGNRIGHT:  0
MIXEDEVTPLOT.JTDPHIJJLEGX:             0.18
MIXEDEVTPLOT.JTDPHIJJLEGY:             0.89
MIXEDEVTPLOT.JTDPHIJJDOLOGX:           0				
MIXEDEVTPLOT.JTDPHIJJDOLOGY:           0				

