#MIXEDEVTPLOT.INFILENAME:                /home/cfmcginn/CUBHIG/tempPlots2021/Oct05/ntupleMCPreProc_PbPbMC_R2_PtMin30_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin15_HIST_20211005.root

MIXEDEVTPLOT.INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2022/Jun22/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhi7piOver8_DR0p4_GenMin20_HIST_20220622.root
#/home/cfmcginn/CUBHIG/tempPlots2022/Jun10/ntupleMCPreProc_PbPbMC_R2_PtMin15_IncDPhipiOver2_MultiDPhipiOver2_DR0p4_GenMin15_HIST_20220610.root

SAVETAG: TEST
SAVEEXT: png

DOREDUCEDLABEL: 1

MIXEDEVTPLOT.GLOBALLABEL.0:             "#bf{#it{ATLAS Internal}}"
MIXEDEVTPLOT.GLOBALLABEL.1:             "PYT.+Overlay #sqrt{s_{NN}}=5.02 TeV"

MIXEDEVTPLOT.JTDPHIMAX:                 3.7
MIXEDEVTPLOT.JTDPHIMIN:                -0.03
MIXEDEVTPLOT.JTDPHIZOOMMAX:             1.5
MIXEDEVTPLOT.JTDPHIZOOMMIN:             0.5
MIXEDEVTPLOT.JTDPHILABELX:              0.22
MIXEDEVTPLOT.JTDPHILABELY:              0.92
MIXEDEVTPLOT.JTDPHILABELALIGNRIGHT:     0
MIXEDEVTPLOT.JTDPHILEGX:                0.25
MIXEDEVTPLOT.JTDPHILEGY:                0.80
MIXEDEVTPLOT.JTDPHIDOLOGX:              0				
MIXEDEVTPLOT.JTDPHIDOLOGY:              0				
#MIXEDEVTPLOT.JTDPHIGENBOX.0:            0.07,0.92,0.155,0.999

MIXEDEVTPLOT.JTDPHIJJMAX:                 1.1
MIXEDEVTPLOT.JTDPHIJJMIN:                -0.03
MIXEDEVTPLOT.JTDPHIJJZOOMMAX:             1.5
MIXEDEVTPLOT.JTDPHIJJZOOMMIN:             0.5
MIXEDEVTPLOT.JTDPHIJJLABELX:              0.22
MIXEDEVTPLOT.JTDPHIJJLABELY:              0.92
MIXEDEVTPLOT.JTDPHIJJLABELALIGNRIGHT:     0
MIXEDEVTPLOT.JTDPHIJJLEGX:                0.65
MIXEDEVTPLOT.JTDPHIJJLEGY:                0.84
MIXEDEVTPLOT.JTDPHIJJDOLOGX:              0				
MIXEDEVTPLOT.JTDPHIJJDOLOGY:              0				
#MIXEDEVTPLOT.JTDPHIJJGENBOX.0:            0.07,0.92,0.155,0.999

#MIXEDEVTPLOT.JTDRJJMAX:                 1.1
MIXEDEVTPLOT.JRDRJJTEMPCORR:            1
MIXEDEVTPLOT.JTDRJJMAX:                 0.75
MIXEDEVTPLOT.JTDRJJMIN:                -0.03
MIXEDEVTPLOT.JTDRJJZOOMMAX:             1.5
MIXEDEVTPLOT.JTDRJJZOOMMIN:             0.5
MIXEDEVTPLOT.JTDRJJLABELX:              0.22
MIXEDEVTPLOT.JTDRJJLABELY:              0.92
MIXEDEVTPLOT.JTDRJJLABELALIGNRIGHT:     0
MIXEDEVTPLOT.JTDRJJLEGX:                0.35
MIXEDEVTPLOT.JTDRJJLEGY:                0.80
MIXEDEVTPLOT.JTDRJJDOLOGX:              0				
MIXEDEVTPLOT.JTDRJJDOLOGY:              0				
#MIXEDEVTPLOT.JTDPHIJJGENBOX.0:            0.07,0.92,0.155,0.999

MIXEDEVTPLOT.JTDPHIJJGMAX:                 3.3
MIXEDEVTPLOT.JTDPHIJJGMIN:                -0.03
MIXEDEVTPLOT.JTDPHIJJGZOOMMAX:             1.5
MIXEDEVTPLOT.JTDPHIJJGZOOMMIN:             0.5
MIXEDEVTPLOT.JTDPHIJJGLABELX:              0.22
MIXEDEVTPLOT.JTDPHIJJGLABELY:              0.92
MIXEDEVTPLOT.JTDPHIJJGLABELALIGNRIGHT:     0
MIXEDEVTPLOT.JTDPHIJJGLEGX:                0.25
MIXEDEVTPLOT.JTDPHIJJGLEGY:                0.80
MIXEDEVTPLOT.JTDPHIJJGDOLOGX:              0				
MIXEDEVTPLOT.JTDPHIJJGDOLOGY:              0				
#MIXEDEVTPLOT.JTDPHIJJGENBOX.0:            0.07,0.92,0.155,0.999

MIXEDEVTPLOT.JTMULTMAX:                 200000
MIXEDEVTPLOT.JTMULTMIN:                 0.7
MIXEDEVTPLOT.JTMULTZOOMMAX:             100
MIXEDEVTPLOT.JTMULTZOOMMIN:             0.7
MIXEDEVTPLOT.JTMULTLABELX:              0.68
MIXEDEVTPLOT.JTMULTLABELY:              0.94
MIXEDEVTPLOT.JTMULTLABELALIGNRIGHT:     1
MIXEDEVTPLOT.JTMULTLEGX:                0.40
MIXEDEVTPLOT.JTMULTLEGY:                0.95
MIXEDEVTPLOT.JTMULTDOLOGX:              0				
MIXEDEVTPLOT.JTMULTDOLOGY:              1				
MIXEDEVTPLOT.JTMULTGENBOX.0:            0.1,0.28,0.155,0.38

MIXEDEVTPLOT.JTPTDOREBINX:               0
MIXEDEVTPLOT.JTPTDOREBINY:               0
MIXEDEVTPLOT.JTPTREBINX:                35,40,45,50,56,63,70,79,89,100,112,125,141,158,177,199,223,251,316,500
#MIXEDEVTPLOT.JTPTREBINX:                30,36,44,53,64,77,93,112,135,163,196,236,285,344,500
MIXEDEVTPLOT.JTPTREBINY:                50,60,70,90,130,180,500
MIXEDEVTPLOT.JTPTMAX:                   0.6
MIXEDEVTPLOT.JTPTMIN:                   0.0000001
MIXEDEVTPLOT.JTPTZOOMMAX:               1.5
MIXEDEVTPLOT.JTPTZOOMMIN:               0.5
MIXEDEVTPLOT.JTPTLABELX:                0.97
MIXEDEVTPLOT.JTPTLABELY:                0.91
MIXEDEVTPLOT.JTPTLABELALIGNRIGHT:       1
MIXEDEVTPLOT.JTPTLEGX:                  0.66
MIXEDEVTPLOT.JTPTLEGY:                  0.78
MIXEDEVTPLOT.JTPTDOLOGX:                0
MIXEDEVTPLOT.JTPTDOLOGY:                1
#MIXEDEVTPLOT.JTPTGENBOX.0:              0.1,0.31,0.155,0.41       

MIXEDEVTPLOT.JTXJMAX:                   3.05
MIXEDEVTPLOT.JTXJMIN:                  -0.03
MIXEDEVTPLOT.JTXJZOOMMAX:               1.2
MIXEDEVTPLOT.JTXJZOOMMIN:               0.8
MIXEDEVTPLOT.JTXJLABELX:                0.97
MIXEDEVTPLOT.JTXJLABELY:                0.91
MIXEDEVTPLOT.JTXJLABELALIGNRIGHT:       1
MIXEDEVTPLOT.JTXJLEGX:                  0.66
MIXEDEVTPLOT.JTXJLEGY:                  0.78
MIXEDEVTPLOT.JTXJDOLOGX:                0
MIXEDEVTPLOT.JTXJDOLOGY:                0

#MIXEDEVTPLOT.JTXJMAX:                   0.5
#MIXEDEVTPLOT.JTXJMIN:                  -0.03
#MIXEDEVTPLOT.JTXJZOOMMAX:               0.05
#MIXEDEVTPLOT.JTXJZOOMMIN:              -0.03
#MIXEDEVTPLOT.JTXJLABELX:                0.68
#MIXEDEVTPLOT.JTXJLABELY:                0.94
#MIXEDEVTPLOT.JTXJLABELALIGNRIGHT:       1
#MIXEDEVTPLOT.JTXJLEGX:                  0.47
#MIXEDEVTPLOT.JTXJLEGY:                  0.82
#MIXEDEVTPLOT.JTXJDOLOGX:                0				
#MIXEDEVTPLOT.JTXJDOLOGY:                0				

MIXEDEVTPLOT.MULTIJTXJMAX:              0.5
MIXEDEVTPLOT.MULTIJTXJMIN:             -0.03
MIXEDEVTPLOT.MULTIJTXJZOOMMAX:          0.05
MIXEDEVTPLOT.MULTIJTXJZOOMMIN:         -0.05
MIXEDEVTPLOT.MULTIJTXJLABELX:           0.68
MIXEDEVTPLOT.MULTIJTXJLABELY:           0.94
MIXEDEVTPLOT.MULTIJTXJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.MULTIJTXJLEGX:             0.76
MIXEDEVTPLOT.MULTIJTXJLEGY:             0.4
MIXEDEVTPLOT.MULTIJTXJDOLOGX:           0				
MIXEDEVTPLOT.MULTIJTXJDOLOGY:           0				


MIXEDEVTPLOT.JTXJJMAX:              1.25
#MIXEDEVTPLOT.JTXJJMAX:              0.35
MIXEDEVTPLOT.JTXJJMIN:             -0.03
MIXEDEVTPLOT.JTXJJZOOMMAX:          1.5
MIXEDEVTPLOT.JTXJJZOOMMIN:          0.5
MIXEDEVTPLOT.JTXJJLABELX:           0.97
MIXEDEVTPLOT.JTXJJLABELY:           0.93
MIXEDEVTPLOT.JTXJJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.JTXJJLEGX:             0.66
MIXEDEVTPLOT.JTXJJLEGY:             0.8
MIXEDEVTPLOT.JTXJJDOLOGX:           0
MIXEDEVTPLOT.JTXJJDOLOGY:           0

MIXEDEVTPLOT.JTAJJMAX:              3.5
MIXEDEVTPLOT.JTAJJMIN:             -0.5
MIXEDEVTPLOT.JTAJJZOOMMAX:          1.5
MIXEDEVTPLOT.JTAJJZOOMMIN:          0.5
MIXEDEVTPLOT.JTAJJLABELX:           0.97
MIXEDEVTPLOT.JTAJJLABELY:           0.93
MIXEDEVTPLOT.JTAJJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.JTAJJLEGX:             0.72
MIXEDEVTPLOT.JTAJJLEGY:             0.8
MIXEDEVTPLOT.JTAJJDOLOGX:           0
MIXEDEVTPLOT.JTAJJDOLOGY:           0

#MIXEDEVTPLOT.MULTIJTAJJMAX:              0.4
#MIXEDEVTPLOT.MULTIJTAJJMIN:             -0.03
#MIXEDEVTPLOT.MULTIJTAJJZOOMMAX:          2.5
#MIXEDEVTPLOT.MULTIJTAJJZOOMMIN:          0.0
#MIXEDEVTPLOT.MULTIJTAJJLABELX:           0.58
#MIXEDEVTPLOT.MULTIJTAJJLABELY:           0.93
#MIXEDEVTPLOT.MULTIJTAJJLABELALIGNRIGHT:  1
#MIXEDEVTPLOT.MULTIJTAJJLEGX:             0.18
#MIXEDEVTPLOT.MULTIJTAJJLEGY:             0.96
#MIXEDEVTPLOT.MULTIJTAJJDOLOGX:           0				
#MIXEDEVTPLOT.MULTIJTAJJDOLOGY:           0				

