MIXEDEVTPLOT.INFILENAME:                output/20200819/ntupleMCPreProc_PbPbMC_R4_HIST_20200819.root

MIXEDEVTPLOT.GLOBALLABEL.0:             "#bf{#it{ATLAS Internal}}"
MIXEDEVTPLOT.GLOBALLABEL.1:             "PYT. w/ Overlay #sqrt{s_{NN}}=5.02 TeV"

MIXEDEVTPLOT.JTDPHIMAX:                 1.0
MIXEDEVTPLOT.JTDPHIMIN:                -0.03
MIXEDEVTPLOT.JTDPHIZOOMMAX:             2.0
MIXEDEVTPLOT.JTDPHIZOOMMIN:            0.0
MIXEDEVTPLOT.JTDPHILABELX:              0.18
MIXEDEVTPLOT.JTDPHILABELY:              0.94
MIXEDEVTPLOT.JTDPHILABELALIGNRIGHT:     0
MIXEDEVTPLOT.JTDPHILEGX:                0.67
MIXEDEVTPLOT.JTDPHILEGY:                0.90
MIXEDEVTPLOT.JTDPHIDOLOGX:              0				
MIXEDEVTPLOT.JTDPHIDOLOGY:              0				
MIXEDEVTPLOT.JTDPHIGENBOX.0:            0.0,0.92,0.155,0.999

MIXEDEVTPLOT.JTMULTMAX:                 200000
MIXEDEVTPLOT.JTMULTMIN:                 0.7
MIXEDEVTPLOT.JTMULTZOOMMAX:             100
MIXEDEVTPLOT.JTMULTZOOMMIN:             0.7
MIXEDEVTPLOT.JTMULTLABELX:              0.68
MIXEDEVTPLOT.JTMULTLABELY:              0.94
MIXEDEVTPLOT.JTMULTLABELALIGNRIGHT:     1
MIXEDEVTPLOT.JTMULTLEGX:                0.40
MIXEDEVTPLOT.JTMULTLEGY:                0.95
MIXEDEVTPLOT.JTMULTDOLOGX:              0				
MIXEDEVTPLOT.JTMULTDOLOGY:              1				
MIXEDEVTPLOT.JTMULTGENBOX.0:            0.1,0.28,0.155,0.38

MIXEDEVTPLOT.JTPTMAX:                   0.4
MIXEDEVTPLOT.JTPTMIN:                   0.00001
MIXEDEVTPLOT.JTPTZOOMMAX:               0.01
MIXEDEVTPLOT.JTPTZOOMMIN:               0.00001
MIXEDEVTPLOT.JTPTLABELX:                0.68
MIXEDEVTPLOT.JTPTLABELY:                0.94
MIXEDEVTPLOT.JTPTLABELALIGNRIGHT:       1
MIXEDEVTPLOT.JTPTLEGX:                  0.19
MIXEDEVTPLOT.JTPTLEGY:                  0.2
MIXEDEVTPLOT.JTPTDOLOGX:                0				
MIXEDEVTPLOT.JTPTDOLOGY:                1				
MIXEDEVTPLOT.JTPTGENBOX.0:              0.1,0.31,0.155,0.41

MIXEDEVTPLOT.JTXJMAX:                   0.5
MIXEDEVTPLOT.JTXJMIN:                  -0.03
MIXEDEVTPLOT.JTXJZOOMMAX:               2.0
MIXEDEVTPLOT.JTXJZOOMMIN:               0.0
MIXEDEVTPLOT.JTXJLABELX:                0.55
MIXEDEVTPLOT.JTXJLABELY:                0.94
MIXEDEVTPLOT.JTXJLABELALIGNRIGHT:       1
MIXEDEVTPLOT.JTXJLEGX:                  0.72
MIXEDEVTPLOT.JTXJLEGY:                  0.44
MIXEDEVTPLOT.JTXJDOLOGX:                0				
MIXEDEVTPLOT.JTXJDOLOGY:                0				

MIXEDEVTPLOT.MULTIJTXJMAX:              0.5
MIXEDEVTPLOT.MULTIJTXJMIN:             -0.03
MIXEDEVTPLOT.MULTIJTXJZOOMMAX:          0.05
MIXEDEVTPLOT.MULTIJTXJZOOMMIN:         -0.05
MIXEDEVTPLOT.MULTIJTXJLABELX:           0.68
MIXEDEVTPLOT.MULTIJTXJLABELY:           0.94
MIXEDEVTPLOT.MULTIJTXJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.MULTIJTXJLEGX:             0.76
MIXEDEVTPLOT.MULTIJTXJLEGY:             0.4
MIXEDEVTPLOT.MULTIJTXJDOLOGX:           0				
MIXEDEVTPLOT.MULTIJTXJDOLOGY:           0				


MIXEDEVTPLOT.MULTIJTXJJMAX:              0.7
MIXEDEVTPLOT.MULTIJTXJJMIN:             -0.03
MIXEDEVTPLOT.MULTIJTXJJZOOMMAX:          2.0
MIXEDEVTPLOT.MULTIJTXJJZOOMMIN:          0.0
MIXEDEVTPLOT.MULTIJTXJJLABELX:           0.55
MIXEDEVTPLOT.MULTIJTXJJLABELY:           0.94
MIXEDEVTPLOT.MULTIJTXJJLABELALIGNRIGHT:  1
MIXEDEVTPLOT.MULTIJTXJJLEGX:             0.72
MIXEDEVTPLOT.MULTIJTXJJLEGY:             0.4
MIXEDEVTPLOT.MULTIJTXJJDOLOGX:           0				
MIXEDEVTPLOT.MULTIJTXJJDOLOGY:           0				

