#OLD VERSION SUPERSEDED AS OF MAR 17 2024
#INPBPBFILENAME: output/20230302/unfold_PbPbData_R2_AJJ_Reweight_20230302.root
#INPPFILENAME: output/20230302/unfold_PPData_R2_7piOver8_AJJ_Reweight_20230302.root

#Superseded photon iso
#INPBPBFILENAME: output/20240317/unfold_PbPbData_R2_AJJ_Reweight_20240317.root
#INPPFILENAME: output/20240317/unfold_PPData_R2_7piOver8_AJJ_Reweight_20240317.root

#06/09 presentation
#INPBPBFILENAME: output/20240609/unfold_PbPbData_R2_AJJ_Reweight_20240609.root
#INPPFILENAME: output/20240609/unfold_PPData_R2_7piOver8_AJJ_Reweight_20240609.root

#Jan 2025 supersede
#INPBPBFILENAME: output/20241215/unfold_PbPbData_R2_AJJ_Reweight_20241215.root
#INPPFILENAME: output/20241215/unfold_PPData_R2_7piOver8_AJJ_Reweight_20241215.root

INPBPBFILENAME: output/20250127/unfold_PbPbData_R2_AJJ_Reweight_20250127.root
INPPFILENAME: output/20250127/unfold_PPData_R2_7piOver8_AJJ_Reweight_20250127.root
SAVETAG: DoJtPtCut_DeltaTest
SAVEEXT: png

#OLD SUPERSEDED AS OF MAR 17 2024
#JEWELPPFILENAME: output/20230307/atlasLHCVac_AJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20230307/atlasLHCMed_AJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20230307/atlasLHCMed_AJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20230307/atlasLHCMed_AJJ_Cent30to80_MCAna.root

#JEWELPPFILENAME: output/20240317/atlasLHCVac_AJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20240317/atlasLHCMed_AJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20240317/atlasLHCMed_AJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20240317/atlasLHCMed_AJJ_Cent30to80_MCAna.root

#06/09 presentation
#JEWELPPFILENAME: output/20240609/atlasLHCVac_AJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20240609/atlasLHCMed_AJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20240609/atlasLHCMed_AJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20240609/atlasLHCMed_AJJ_Cent30to80_MCAna.root

#Jan 2025 supersede
#JEWELPPFILENAME: output/20241216/atlasLHCVac_AJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20241216/atlasLHCMed_AJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20241216/atlasLHCMed_AJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20241216/atlasLHCMed_AJJ_Cent30to80_MCAna.root

JEWELPPFILENAME: output/20250128/atlasLHCVac_AJJ_MCAna.root
JEWELPBPBFILENAME.0: output/20250128/atlasLHCMed_AJJ_Cent0to10_MCAna.root
JEWELPBPBFILENAME.1: output/20250128/atlasLHCMed_AJJ_Cent10to30_MCAna.root
JEWELPBPBFILENAME.2: output/20250128/atlasLHCMed_AJJ_Cent30to80_MCAna.root


JETSCAPEPP: input/Jetscape/ToATLAS/Data/AJJGamma/pp_ajjgamma_x1.4.txt
JETSCAPEPBPB: input/Jetscape/ToATLAS/Data/AJJGamma/pbpb0-10_ajjgamma_x1.4.txt

LBTPP: input/XinNian/tablePP_AJJ_CMTranscribe.txt
LBTPBPB: input/XinNian/tablePbPb_AJJ_CMTranscribe.txt

#OLD SUPERSEDED
#INPBPBTERMFILENAME: output/20230302/unfoldTerm_PbPbData_R2_Reweight_AJJ.config
#INPPTERMFILENAME: output/20230302/unfoldTerm_PPData_R2_7piOver8_Reweight_AJJ.config

#INUNFNONCLOSUREFILENAME: output/20230302/unfoldTerm_PPMC_R2_7piOver8_AJJ_SysError.root

#06/09 presentation
#INPBPBTERMFILENAME: output/20240609/unfoldTerm_PbPbData_R2_Reweight_AJJ.config
#INPPTERMFILENAME: output/20240609/unfoldTerm_PPData_R2_7piOver8_Reweight_AJJ.config

#Jan 2025 supersede
#INPBPBTERMFILENAME: output/20241216/unfoldTerm_PbPbData_R2_Reweight_AJJ.config
#INPPTERMFILENAME: output/20241216/unfoldTerm_PPData_R2_7piOver8_Reweight_AJJ.config

INPBPBTERMFILENAME: output/20250128/unfoldTerm_PbPbData_R2_Reweight_AJJ.config
INPPTERMFILENAME: output/20250128/unfoldTerm_PPData_R2_7piOver8_Reweight_AJJ.config

#Jan 2025 supersede
#INUNFNONCLOSUREFILENAME: output/20240609/unfoldTerm_PPMC_R2_7piOver8_AJJ_SysError.root
INUNFNONCLOSUREFILENAME: output/20250117/unfoldTerm_PPMC_R2_7piOver8_AJJ_SysError.root

DOJTPTCUT: 1
DOSIMPLESYST: 0

AJJMINY: 0.0
AJJMAXY: 1.7
AJJMINX: 0.0
AJJMAXX: 0.8
AJJRATMINY: 0.0
AJJRATMAXY: 1.25
AJJDOLOGX: 0
AJJDOLOGY: 0

AJJLEGX: 0.22
AJJLEGY: 0.96
AJJLABELX: 0.945
AJJLABELY: 0.91

AJJLEGXCENT: 0.25
AJJLEGYCENT: 0.96

JEWELLEGX: 0.63
JEWELLEGY: 0.45

AJJRATLEGX: 0.22
AJJRATLEGY: 0.95
AJJRATLABELX: 0.95
AJJRATLABELY: 0.9125


AJJLABELXCENT: 0.975
AJJLABELYCENT: 0.92

AJJ2JETXLABELX: 0.22
AJJ2JETXLABELY: 0.91

#AJJ2JETXLABELX: 0.22
#AJJ2JETXLABELY: 0.1

AJJPYTRATMINY: 0.2
AJJPYTRATMAXY: 1.2

AJJSYSTMAX: 2.1
AJJSYSTMIN: -0.05

AJJSYSTPPMAX: 0.6
AJJSYSTPPMIN: -0.05

