#OLD DURING LAST YEARS DEBUG, SUPERSEDE MAR17
#INPBPBFILENAME: output/20230613/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20230613.root
#INPPFILENAME: output/20230613/unfold_PPData_R2_7piOver8_XJJ_Reweight_20230613.root

#Superseded during DRJJ Debug
#INPBPBFILENAME: output/20240316/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20240316.root
#INPPFILENAME: output/20240316/unfold_PPData_R2_7piOver8_XJJ_Reweight_20240316.root

#Pre Pho iso fix
#INPBPBFILENAME: output/20240522/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20240522.root
#INPPFILENAME: output/20240521/unfold_PPData_R2_7piOver8_XJJ_Reweight_20240521.root

#replacing 20241215 values
#INPBPBFILENAME: output/20240609/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20240609.root
#INPPFILENAME: output/20240609/unfold_PPData_R2_7piOver8_XJJ_Reweight_20240609.root

#Replaced for January Syst. fix
#INPBPBFILENAME: output/20241215/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20241215.root
#INPPFILENAME: output/20241215/unfold_PPData_R2_7piOver8_XJJ_Reweight_20241215.root

INPBPBFILENAME: output/20250127/unfold_PbPbData_R2_7piOver8_XJJ_Reweight_20250127.root
INPPFILENAME: output/20250127/unfold_PPData_R2_7piOver8_XJJ_Reweight_20250127.root
SAVETAG: DoJtPtCut_DeltaTest
SAVEEXT: png

#PREVIOUS JEWEL WITH ISOSPIN BUG
#JEWELPPFILENAME: output/20230307/atlasLHCVac_XJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20230307/atlasLHCMed_XJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20230307/atlasLHCMed_XJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20230307/atlasLHCMed_XJJ_Cent30to80_MCAna.root

#ISOSPIN BUG FIXED
#6/09
#JEWELPBPBFILENAME.0: output/20240609/atlasLHCMed_XJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20240609/atlasLHCMed_XJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20240609/atlasLHCMed_XJJ_Cent30to80_MCAna.root
#JEWELPPFILENAME: output/20240609/atlasLHCVac_XJJ_MCAna.root

#Replaced for January Syst. fix
#JEWELPBPBFILENAME.0: output/20241215/atlasLHCMed_XJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20241215/atlasLHCMed_XJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20241215/atlasLHCMed_XJJ_Cent30to80_MCAna.root
#JEWELPPFILENAME: output/20241215/atlasLHCVac_XJJ_MCAna.root

JEWELPBPBFILENAME.0: output/20250128/atlasLHCMed_XJJ_Cent0to10_MCAna.root
JEWELPBPBFILENAME.1: output/20250128/atlasLHCMed_XJJ_Cent10to30_MCAna.root
JEWELPBPBFILENAME.2: output/20250128/atlasLHCMed_XJJ_Cent30to80_MCAna.root
JEWELPPFILENAME: output/20250128/atlasLHCVac_XJJ_MCAna.root

#INPBPBTERMFILENAME: output/20240317/unfoldTerm_PbPbData_R2_7piOver8_XJJ.config
#INPPTERMFILENAME: output/20240317/unfoldTerm_PPData_R2_7piOver8_Reweight_XJJ.config

#Superseded during DRJJ Debug
#replacing 20240609 values
#INPBPBTERMFILENAME: output/20240609/unfoldTerm_PbPbData_R2_7piOver8_XJJ.config
#INPPTERMFILENAME: output/20240609/unfoldTerm_PPData_R2_7piOver8_Reweight_XJJ.config

#Replaced for January Syst. fix
#INPBPBTERMFILENAME: output/20241215/unfoldTerm_PbPbData_R2_7piOver8_XJJ.config
#INPPTERMFILENAME: output/20241215/unfoldTerm_PPData_R2_7piOver8_Reweight_XJJ.config

INPBPBTERMFILENAME: output/20250128/unfoldTerm_PbPbData_R2_7piOver8_XJJ.config
INPPTERMFILENAME: output/20250128/unfoldTerm_PPData_R2_7piOver8_Reweight_XJJ.config

#Replaced for latest/greatest processing
#INUNFNONCLOSUREFILENAME: output/20240609/unfoldTerm_PPMC_R2_7piOver8_XJJ_SysError.root
INUNFNONCLOSUREFILENAME: output/20250117/unfoldTerm_PPMC_R2_7piOver8_XJJ_SysError.root

#ADD XinNian and Jetscape
JETSCAPEPP: input/Jetscape/ToATLAS/Data/XJJGamma/pp_xjjgamma_x1.4_CFMEditForBins.txt
JETSCAPEPBPB: input/Jetscape/ToATLAS/Data/XJJGamma/pbpb0-10_xjjgamma_x1.4_CFMEditForBins.txt

LBTPP: input/XinNian/tablePP_XJJ_CMTranscribe.txt
LBTPBPB: input/XinNian/tablePbPb_XJJ_CMTranscribe.txt


DOJTPTCUT: 1
DOSIMPLESYST: 0

XJJMINY: 0.0
XJJMAXY: 0.98
XJJMINX: 0.3
XJJMAXX: 1.5
XJJRATMINY: 0.0
XJJRATMAXY: 1.25
XJJDOLOGX: 0
XJJDOLOGY: 0

XJJLEGX: 0.19
XJJLEGY: 0.95
XJJLABELX: 0.945
XJJLABELY: 0.91

XJJRATLEGX: 0.4
XJJRATLEGY: 0.95
XJJRATLABELX: 0.95
XJJRATLABELY: 0.9125

JEWELLEGX: 0.17
JEWELLEGY: 0.79

XJJLEGXCENT: 0.37
XJJLEGYCENT: 0.96

XJJ2JETXLABELX: 0.22
XJJ2JETXLABELY: 0.91

XJJPYTRATMINY: 0.2
XJJPYTRATMAXY: 1.2

XJJSYSTMAX: 2.1
XJJSYSTMIN: -0.05

XJJSYSTPPMAX: 0.6
XJJSYSTPPMIN: -0.05

