#OLD SUPERSEDED
#INPBPBFILENAME: output/20230302/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20230302.root
#INPPFILENAME: output/20230302/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20230302.root

#Superseded during DRJJ debug
#INPBPBFILENAME: output/20240317/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20240317.root
#INPPFILENAME: output/20240317/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20240317.root

#0609 presentation
#INPBPBFILENAME: output/20240606/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20240606.root
#INPPFILENAME: output/20240605/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20240605.root

#Superseded by Jan Syst fix
#INPBPBFILENAME: output/20241215/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20241215.root
#INPPFILENAME: output/20241215/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20241215.root

INPBPBFILENAME: output/20250127/unfold_PbPbData_R2_7piOver8_DRJJ_Reweight_20250127.root
INPPFILENAME: output/20250127/unfold_PPData_R2_7piOver8_DRJJ_Reweight_20250127.root

SAVETAG: DoJtPtCut_DeltaTest
SAVEEXT: png

#OLD SUPERSEDED
#JEWELPPFILENAME: output/20230307/atlasLHCVac_DRJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20230307/atlasLHCMed_DRJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20230307/atlasLHCMed_DRJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20230307/atlasLHCMed_DRJJ_Cent30to80_MCAna.root

#0609 presentation
#JEWELPPFILENAME: output/20240606/atlasLHCVac_DRJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20240606/atlasLHCMed_DRJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20240606/atlasLHCMed_DRJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20240606/atlasLHCMed_DRJJ_Cent30to80_MCAna.root

#Superseded by Jan Syst fix
#JEWELPPFILENAME: output/20241216/atlasLHCVac_DRJJ_MCAna.root
#JEWELPBPBFILENAME.0: output/20241216/atlasLHCMed_DRJJ_Cent0to10_MCAna.root
#JEWELPBPBFILENAME.1: output/20241216/atlasLHCMed_DRJJ_Cent10to30_MCAna.root
#JEWELPBPBFILENAME.2: output/20241216/atlasLHCMed_DRJJ_Cent30to80_MCAna.root

JEWELPPFILENAME: output/20250128/atlasLHCVac_DRJJ_MCAna.root
JEWELPBPBFILENAME.0: output/20250128/atlasLHCMed_DRJJ_Cent0to10_MCAna.root
JEWELPBPBFILENAME.1: output/20250128/atlasLHCMed_DRJJ_Cent10to30_MCAna.root
JEWELPBPBFILENAME.2: output/20250128/atlasLHCMed_DRJJ_Cent30to80_MCAna.root

JETSCAPEPP: input/Jetscape/ToATLAS/Data/DeltaRJJ/pp_deltarjj_x1.4.txt
JETSCAPEPBPB: input/Jetscape/ToATLAS/Data/DeltaRJJ/pbpb0-10_deltarjj_x1.4.txt

LBTPP: input/XinNian/tablePP_DRJJ_CMTranscribe.txt
LBTPBPB: input/XinNian/tablePbPb_DRJJ_CMTranscribe.txt

#OLD SUPERSEDED
#INPBPBTERMFILENAME: output/20230302/unfoldTerm_PbPbData_R2_Reweight_DRJJ.config
#INPPTERMFILENAME: output/20230302/unfoldTerm_PPData_R2_7piOver8_Reweight_DRJJ.config

#Superseded during DRJJ debug
#INPBPBTERMFILENAME: output/20240317/unfoldTerm_PbPbData_R2_Reweight_DRJJ.config
#INPPTERMFILENAME: output/20240317/unfoldTerm_PPData_R2_7piOver8_Reweight_DRJJ.config

#0609 presentation
#INPBPBTERMFILENAME: output/20240606/unfoldTerm_PbPbData_R2_Reweight_DRJJ.config
#INPPTERMFILENAME: output/20240606/unfoldTerm_PPData_R2_7piOver8_Reweight_DRJJ.config

#Superseded by Jan Syst fix
#INPBPBTERMFILENAME: output/20241216/unfoldTerm_PbPbData_R2_Reweight_DRJJ.config
#INPPTERMFILENAME: output/20241216/unfoldTerm_PPData_R2_7piOver8_Reweight_DRJJ.config

INPBPBTERMFILENAME: output/20250128/unfoldTerm_PbPbData_R2_Reweight_DRJJ.config
INPPTERMFILENAME: output/20250128/unfoldTerm_PPData_R2_7piOver8_Reweight_DRJJ.config

#OLD SUPERSEDED
#INUNFNONCLOSUREFILENAME: output/20230302/unfoldTerm_PPMC_R2_7piOver8_DRJJ_SysError.root

#Superseded by Jan Syst fix
#INUNFNONCLOSUREFILENAME: output/20240605/unfoldTerm_PPMC_R2_7piOver8_DRJJ_SysError.root
INUNFNONCLOSUREFILENAME: output/20250117/unfoldTerm_PPMC_R2_7piOver8_DRJJ_SysError.root

DOJTPTCUT: 1
DOSIMPLESYST: 0

DRJJMINY: 0.0
DRJJMAXY: 0.35
DRJJMINX: 0.4
DRJJMAXX: 4.0
DRJJRATMINY: 0.0
DRJJRATMAXY: 1.25
DRJJDOLOGX: 0
DRJJDOLOGY: 0

DRJJLEGX: 0.23
DRJJLEGY: 0.955
DRJJLABELX: 0.945
DRJJLABELY: 0.91

DRJJLEGXCENT: 0.7
DRJJLEGYCENT: 0.96

DRJJLABELXCENT: 0.3
DRJJLABELYCENT: 0.95
DRJJLABELALIGNRIGHTCENT: 0

DRJJRATLEGX: 0.25
DRJJRATLEGY: 0.26
DRJJRATLABELX: 0.23
DRJJRATLABELY: 0.9125

JEWELLEGX: 0.17
JEWELLEGY: 0.75

DRJJ2JETXLABELX: 0.22
DRJJ2JETXLABELY: 0.91

#DRJJ2JETXLABELX: 0.22
#DRJJ2JETXLABELY: 0.1

DRJJPYTRATMINY: 0.2
DRJJPYTRATMAXY: 1.2

DRJJSYSTMAX: 2.1
DRJJSYSTMIN: -0.05

DRJJSYSTPPMAX: 0.6
DRJJSYSTPPMIN: -0.05

